body{
    margin: 0;
    padding: 0;
}
.jeju_main_logo{
    margin: 2rem 0;
    font-family: 'Gugi', cursive;
    width: 100%;
    height: 20rem;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
}
/*.logo_btn{*/
/*    position: absolute;*/
/*    top: 80%;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    right: 0.2rem;*/

/*}*/

.jeju_main_logo h1 {
    position: absolute;
    top: 50%;
    width: 100%;
}

.jb-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}



video { width: 100%; }

.jeju_main_btn{
    margin-bottom: 2rem;
    font-family: 'Jua', sans-serif;

}

.jeju_footer_logo{
    margin: 1.5rem 0;
    font-family: 'Gugi', cursive;
}

.jeju_footer_btn{
    margin-bottom: 2rem;
    font-family: 'Jua', sans-serif;
}


.mw-500{
    max-width: 500px;
    padding: 1rem 1.5rem;
}

a{
    text-decoration:none
}



 /*a:link { color: red; text-decoration: none;}*/
 /*a:visited { color: black; text-decoration: none;}*/
 /*a:hover { color: blue; text-decoration: underline;}*/

