.jeju_main_logo{
    margin: 2rem 0;
    font-family: 'Gugi', cursive;
    background: lightsteelblue;
}
    /*font-family: 'Jua', sans-serif;*/

.jeju_main_btn{
    margin-bottom: 2rem;
    font-family: 'Jua', sans-serif;
}

.jeju_footer_logo{
    margin: 1.5rem 0;
    font-family: 'Gugi', cursive;
}

.jeju_footer_btn{
    margin-bottom: 2rem;
    font-family: 'Jua', sans-serif;
}


.mw-500{
    max-width: 500px;
    padding: 1rem 1.5rem;
}



 /*a:link { color: red; text-decoration: none;}*/
 /*a:visited { color: black; text-decoration: none;}*/
 /*a:hover { color: blue; text-decoration: underline;}*/

