{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div class="text-center mw-500 m-auto">
        <div class="m-5">
            <h4>Sign up</h4>
        </div>
        <div>
            <form action="{% url 'accountapp:create'%}" method="post">
                {% csrf_token %}
                {# csrf_token 이걸 넣어야 폼이 정상적으로 작동됨#}
                {% bootstrap_form form %}
{#                부트스트랩 적용#}
{#                {{ form }}#}
{#                이럼 인풋태그가 알아서 된데#}
                <div class="m-5">
                    <input type="submit" class="btn btn-dark rounded=pill px-5">
                </div>

            </form>
        </div>
    </div>

{% endblock %}